In [3]:
import pandas as pd

title_df = pd.read_csv('data/title.basics.tsv', sep='\t', dtype=str, na_values=["\\N"])

principals_df = pd.read_csv('data/title.principals.tsv', sep='\t', dtype=str, na_values=["\\N"])

names_df = pd.read_csv("data/name.basics.tsv", sep="\t", dtype=str, na_values=["\\N"])

In [4]:
principals_df.loc[(principals_df['category'] == 'actor') & (principals_df['category'] == 'actress')]

Empty DataFrame
Columns: [tconst, ordering, nconst, category, job, characters]
Index: []

In [5]:
principals_df.drop(columns=['ordering', 'job', 'characters'], inplace=True)
names_df.drop(columns=['birthYear', 'deathYear', 'primaryProfession', 'knownForTitles'], inplace=True)

In [6]:
data = pd.merge(principals_df, names_df, on='nconst', how='left')

In [8]:
data.head()

      tconst     nconst         category           primaryName
0  tt0000001  nm1588970             self            Carmencita
1  tt0000001  nm0005690         director  William K.L. Dickson
2  tt0000001  nm0005690         producer  William K.L. Dickson
3  tt0000001  nm0374658  cinematographer         William Heise
4  tt0000002  nm0721526         director         Émile Reynaud

In [9]:
data_df = pd.merge(data, title_df, on='tconst', how='left')

In [10]:
data_df.head()

,tconst,nconst,category,primaryName,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,nm1588970,self,Carmencita,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
1,tt0000001,nm0005690,director,William K.L. Dickson,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
2,tt0000001,nm0005690,producer,William K.L. Dickson,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
3,tt0000001,nm0374658,cinematographer,William Heise,short,Carmencita,Carmencita,0,1894,NaN,1,"Documentary,Short"
4,tt0000002,nm0721526,director,Émile Reynaud,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,NaN,5,"Animation,Short"

In [1]:
data_df_grouped = data_df.groupby(['tconst'])['primaryName'].agg(', '.join).reset_index()

NameError: name 'data_df' is not defined

In [2]:
data_df_grouped.head()

NameError: name 'data_df_grouped' is not defined

In [4]:
data_df_grouped.to_csv("data/crew.csv", index=False, sep=";")

KeyboardInterrupt:

In [ ]:
principals_df.loc[principals_df['category'] == 'actor']

principals_df.drop(columns=['ordering', 'category', 'job', 'characters'], inplace=True)