In [1]:
import pandas as pd

akas_df = pd.read_csv('data/title.akas.tsv', sep='\t', dtype=str, na_values=["\\N"])

title_df = pd.read_csv('data/title.basics.tsv', sep='\t', dtype=str, na_values=["\\N"])

crew_df = pd.read_csv("data/title.crew.tsv", sep="\t", dtype=str, na_values=["\\N"])

principals_df = pd.read_csv('data/title.principals.tsv', sep='\t', dtype=str, na_values=["\\N"])

ratings_df = pd.read_csv("data/title.ratings.tsv", sep="\t", dtype=str, na_values=["\\N"])

names_df = pd.read_csv("data/name.basics.tsv", sep="\t", dtype=str, na_values=["\\N"])

In [25]:
akas_df = akas_df.loc[akas_df['region'] == 'US']

akas_df = akas_df.loc[akas_df['types'] != 'tv']

akas_df.drop(columns=['ordering', 'title', 'attributes', 'isOriginalTitle', 'language', 'types', 'region'], inplace=True)

In [26]:
title_df.drop(columns=['originalTitle', 'isAdult', 'endYear'], inplace=True)

title_df = title_df.loc[title_df['titleType'] == 'movie']

title_df.drop(columns=['titleType'], inplace=True)

In [27]:
crew_df.drop(columns=['writers'], inplace=True)

In [13]:
principals_df.loc[principals_df['category'] == 'actor']

principals_df.drop(columns=['ordering', 'category', 'job', 'characters'], inplace=True)

In [28]:
ratings_df.drop(columns=['numVotes'], inplace=True)

In [29]:
names_df.drop(columns=['birthYear', 'deathYear', 'primaryProfession', 'knownForTitles'], inplace=True)

In [30]:
data = pd.merge(akas_df, title_df, left_on='titleId', right_on='tconst', how='inner')

data = pd.merge(data, crew_df, on='tconst', how='inner')

data = pd.merge(data, ratings_df, on='tconst', how='inner')

data = pd.merge(data, names_df, left_on='directors', right_on='nconst', how='inner')

data['directors'] = data['primaryName']

data.drop(columns=['tconst', 'nconst', 'primaryName'], inplace=True)

data.drop_duplicates(inplace=True)

data.head()

,titleId,primaryTitle,startYear,runtimeMinutes,genres,directors,averageRating
0,tt0000009,Miss Jerry,1894,45,Romance,Alexander Black,5.4
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,100,"Documentary,News,Sport",Enoch J. Rector,5.3
2,tt0000574,The Story of the Kelly Gang,1906,70,"Action,Adventure,Biography",Charles Tait,6.0
3,tt0000591,The Prodigal Son,1907,90,Drama,Michel Carré,5.6
4,tt0000630,Hamlet,1908,NaN,Drama,Mario Caserini,3.1

In [31]:
data.to_csv("data/data.csv", index=False, sep=";")